.catalog-menu__list {
  .list-reset();
}

.catalog-menu__item {
  width: 100%;
  min-height: 103px;

  .font(19px, 24px);
  text-align: left;
  color: @color-white;

  & svg {
    position: absolute;
    opacity: 0.5;
    fill: #149080;
  }

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-top: 5px;
    min-height: 108px;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.7;
  }

  &:active .catalog-menu__link {
    opacity: 0.3;
  }

  &--decoration {
    background-color: @color-green;
  }

  &--decoration:hover,
  &--decoration:focus {
    background-color: @color-green-hover;
  }

  &--decoration:active {
    background-color: @color-green-hover;
  }

  &--decoration svg {
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;
  }

  &--toys {
    background-color: @color-green-alternative;
  }

  &--toys:hover,
  &--toys:focus {
    background-color: @color-green-alternative-hover;
  }

  &--toys:active {
    background-color: @color-green-alternative-hover;
  }

  &--toys svg {
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;
  }
}

.catalog-menu__link {
  position: relative;
  display: block;
  padding: 28px 30px;
  padding-top: 25px;
  padding-right: 120px;
  width: 100%;
  .font(19px, 24px);
  text-align: left;
  color: @color-white;

  &:hover,
  &:focus svg {
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalog-menu {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -20vw;
      bottom: 0;
      height: 18px;
      width: 120vw;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
    }
  }

  .catalog-menu__wrapper {
    /*width: 668px;*/
    padding: 0 50px;
  }

  .catalog-menu__list {
    display: flex;
  }

  .catalog-menu__item {
    min-height: 120px;
    .font(20px, 30px);

    &--decoration svg {
      top: 30px;
    }

    &--toys svg {
      top: 31px;
      right: 34px;
    }
  }

  .catalog-menu__link {
    padding-top: 27px;
    padding-left: 36px;
    .font(20px, 30px);
  }
}

@media (min-width: @desktop-width) {
  .catalog-menu__list {
    min-height: 120px;
  }

  .catalog-menu__item {
    &--decoration svg {
      top: 30px;
    }

    &--toys svg {
      top: 32px;
    }
  }

  .catalog-menu__link {
    padding-top: 27px;
    padding-right: 320px;
  }
}
