//.catalog-menu__wrapper {
//}

.catalog-menu__list {
  .list-reset();
}

.catalog-menu__item {
  position: relative;

  width: 100%;
  min-height: 103px;
  padding: 30px;

  .font(19px, 24px);
  text-align: left;
  color: @color-white;

  &--decoration {
    background-color: @color-green;
  }

  &--decoration svg {
    position: absolute;
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;
    fill: #149080;
  }

  &--toys {
    background-color: @color-green-alternative;
  }

  &--toys svg {
    position: absolute;
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;
    fill: #149080;
  }
}

.catalog-menu__link {
  //*padding-right: 160px;*/
}
