.color .form-order__legend::after {
  width: 62%;
}

.color__title {
  margin-bottom: 24px;

  &::after {
    left: 62px;
  }
}

.color__list {
  .list-reset ();
  margin-bottom: 32px;
}

.color__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.color__input-label {
  display: block;
  padding-top: 12px;
  min-height: 40px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid @color-text;
  }
}

.color__input-checkbox:hover + label::before,
.color__input-checkbox:focus + label::before {
  border: 2px solid @color-green;
}

.color__input-checkbox:active + label::before {
  border: 2px solid rgba(@color-text, 0.3);
}

.color__input-checkbox:disabled ~ .color__input-label::before,
.color__input-checkbox:disabled:checked ~ .color__input-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(@color-text, 0.3);
}

.color__input-checkbox:checked ~ .color__input-label::after,
.color__input-checkbox:disabled:checked ~ .color__input-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 27px;
  height: 25px;
  .background ("../img/icon-tick.svg");
}

.color__input-checkbox:disabled:checked ~ .color__input-label::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .color {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .color__title {
    margin: 0;
    padding-top: 67px;
  }

  .color__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 49px;
    padding-left: 1px;
    padding-bottom: 24px;
    width: 501px;
  }

  .color__item {
    margin-bottom: 25px;
    width: 238px;
  }

  .color__input-label {
    padding-left: 80px;
    padding-top: 15px;
    min-height: 52px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }

  .color__input-checkbox:checked ~ .color__input-label::after,
  .color__input-checkbox:disabled:checked ~ .color__input-label::after {
    top: 15px;
    left: 10px;
    width: 33px;
    height: 23px;
  }
}

@media (min-width: @desktop-width) {
  .color__title {
    padding-left: 60px;
  }

  .color__list {
    justify-content: flex-start;
    width: 875px;
  }

  .color__item {
    width: 263px;
  }
}
