.contact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact__wrapper {
  width: 260px;
  margin: 0 auto;
}

.contact__title {
  margin-bottom: 40px;

  .font(18px, 30px, 700, normal);
  color: #000000;
}

.contact__list {
  .list-reset ();
  
  .font(15px, 30px, 400, normal);
  color: #444444;
}

.contact-list__item {
  width: 75px;
}

.contact__map {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact__write {
  width: 260px;
  margin: 0 auto;
}