.contact {
  width: 320px;
  margin: 40px auto;
}

.contact__wrapper {
  padding: 0 30px;
}

.contact__title {
  margin-bottom: 40px;

  .font(18px, 30px, 700, normal);
  color: #000000;
}

.contact__list {
  .list-reset ();
  
  .font(15px, 30px, 400, normal);
  color: #444444;
}

.contact-list__item {
  width: 75px;
}

.contact__map {
  margin: 40px auto;
}

.contact__write {
  width: 260px;
}