.contact {
  /*width: 320px;*/
  margin: 40px auto;
}

.contact__wrapper {
  padding: 0 30px;
}

.contact__title {
  margin-bottom: 26px;

  .font(18px, 30px);
  color: @color-black;
}

.contact__list {
  .list-reset ();

  .font(15px, 30px);
  font-weight: 400;
  color: @color-text;
}

.contact-list__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.contact-list__item-info {
  margin-right: 30px;
}

.contact__mail {
  color: @color-text;
  border-bottom: 1px solid @color-green;

  &:hover,
  &:focus {
    color: @color-green-alternative-hover;
  }

  &:active {
    color: @color-green-alternative-hover;
    opacity: 0.3;
  }
}

.contact__map {
  margin-top: 7px;
  margin-bottom: 35px;
  width: 320px;
  height: 457px;
  .background ("../img/map-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.contact__map-iframe {
  width: 100%;
  margin: 0 auto;
  border: none;
}

.contact__write {
  width: 260px;
}

@media (min-width: @tablet-width) {
  .contact {
    margin-bottom: 57px;
    /*width: 768px;*/
  }

  .contact__wrapper {
    padding: 0 50px;
  }

  .contact__title {
    position: relative;
    padding-top: 60px;
    margin-left: -5px;
    margin-bottom: 49px;
    .font(43px, 50px);

    &::after {
      content: "";
      position: absolute;
      top: 45px;
      right: 3px;
      width: 47px;
      height: 81px;
      .background ("../img/icon-flag.svg");
    }
  }

  .contact__list {
    display: flex;
    margin-bottom: 26px;
    .font(17px, 30px);
  }

  .contact-list__item {
    width: 50%;

    &-info {
      margin-right: 25px;
    }
  }

  .contact__map {
    width: 768px;
    height: 457px;
    margin-top: 0;
    margin-bottom: 52px;
    .background ("../img/map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contact__map-iframe {
    width: 768px;
    height: 457px;
  }

  .contact__write {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    position: relative;
    margin-bottom: 105px;
    padding-right: 50px;
    padding-left: 221px;
    /*width: 1050px;*/
  }

  .contact__wrapper {
    padding: 0;
  }

  .contact__title {
    padding-top: 139px;
    margin-bottom: 49px;
    .font(53px, 57px);

    &::after {
      top: 131px;
      left: -103px;
    }
  }

  .contact__list {
    flex-direction: column;
    margin-bottom: 48px;
    padding-right: 525px;
  }

  .contact-list__item {
    width: 100%;

    &-info {
      margin-right: 28px;
    }
  }

  .contact__map {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 525px;
    height: 457px;
    margin-bottom: 52px;
    .background ("../img/map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .contact__map-iframe {
    width: 525px;
    height: 457px;
  }

  .contact__write {
    margin: 0;
    margin-left: 5px;
  }
}
