.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.copyright__text {
  .font(19px, 18px);
  color: @color-black;

  &::before {
    content: "";
    height: 1px;
    width: 260px;
    background-color: @color-white-dark;
  }
}

.copyright__link {
  padding-top: 0;
  border: none;
  color: rgba(@color-black, 1);

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:hover svg,
  &:focus svg {
    fill: rgba(@color-green-alternative-hover, 1);
  }

  &:active svg {
    fill: rgba(@color-green-alternative-hover, 0.3);
  }
}
