.copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  padding-top: 14px;
  padding-bottom: 15px;
}

/*.copyright__text {
  padding-top: 14px;
  .font(19px, 18px);
  color: @color-black;

  &::before {
    content: "";
    height: 1px;
    width: 260px;
    background-color: @color-white-dark;
  }
}*/

.copyright__link {
  /*padding-top: 9px;*/
  margin: 0;
  min-height: 34px;
  width: 180px; /*27px;*/
  .font(19px, 18px);
  text-transform: initial;
  border: none;
  color: rgba(@color-black, 1);

  &::before {
    content: "";
    height: 1px;
    width: 260px;
    background-color: @color-white-dark;
  }

  svg {
    min-height: 34px;
    width: 27px;
    fill: @color-green;
  }

  /*&:hover,
  &:focus {
    background-color: transparent;
  }*/

  &:hover svg,
  &:focus svg {
    fill: rgba(@color-green-alternative-hover, 1);
  }

  &:active svg {
    fill: rgba(@color-green-alternative-hover, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
    width: 183px;
  }

  .copyright__text {
    padding-top: 9px;
  }

  .copyright__link {
    padding-top: 4px;
  }
}
