.footer-logo__logo-image {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer-logo {
    padding-right: 78px;
    padding-bottom: 10px;
  }

  .footer-logo__logo-image {
    display: block;
    max-width: 102px;
    height: 34px;
  }

  .footer-logo:hover .footer-logo__logo-image,
  .footer-logo:focus .footer-logo__logo-image {
    fill: @color-green-alternative-hover;
  }

  .footer-logo:active .footer-logo__logo-image {
    fill: rgba(@color-green-alternative-hover, 0.3);
  }
}
