.footer-logo__logo-image {
  display: none;
}

@media (min-width: 768px) {
  .footer-logo {
    padding-right: 78px;
  }
  .footer-logo__logo-image {
    display: block;
    max-width: 102px;
    height: 34px;
  }
}
