.form-order {
//  display: none;
}

.form-order__desc {
  margin: 21px 0;
  padding: 0 30px;
  .font(13px, 24px);
  font-weight: 400;
  text-align: left;
  color: @color-text;
}

.form-order__btn {
  padding-top: 0;
}
