.info {
  margin-top: 71px;
  margin-bottom: 20px;
}

.info__wrapper {
  padding: 0 30px;
}

.info__title {
  margin-top: 25px;
  margin-bottom: 31px;
  margin-left: -2px;

  .font(25px, 30px);
  color: @color-black;
}

.info__list {
  .list-reset ();
}

.info__item {
  position: relative;

  margin-bottom: 30px;
  padding-top: 53px;

  &--eco::after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;

    width: 32px;
    height: 37px;

    .background("../img/icon-feature-flower.svg");
  }

  &--style::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 47px;
    height: 27px;

    .background("../img/icon-feature-money.svg");
  }

  &--like::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;

    width: 33px;
    height: 28px;

    .background("../img/icon-feature-heart.svg");
  }

  &--knit::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;

    width: 35px;
    height: 35px;

    .background("../img/icon-feature-ball.svg");
  }

  &--rocket::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -6px;

    width: 54px;
    height: 23px;

    .background("../img/icon-feature-rocket.svg");
  }

  &--gift::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 3px;

    width: 33px;
    height: 33px;

    .background("../img/icon-feature-gift.svg");
  }
}

.info__link {
  .font(17px, 20px);
  color: @color-black;
}

@media (min-width: @tablet-width) {
  .info {
    margin-top: 100px;
  }

  .info__wrapper {
    padding: 0 50px;
  }

  .info__title {
    margin-bottom: 50px;
	margin-left: -5px;
    .font(43px, 50px);
  }

  .info__list {
    display: flex;
    flex-wrap: wrap;
  }

  .info__item {
    margin-bottom: 59px;
    width: 50%;

    &--eco {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--like {
      order: 5;
    }

    &--knit {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }

  .info__link {
    .font(20px, 22px);
  }
}

@media (min-width: @desktop-width) {
  .info {
    margin-top: 155px;
  }

  .info__wrapper {
    padding: 0 224px;
  }

  .info__title {
    margin-bottom: 48px;
    margin-left: -5px;
    .font(53px, 57px);
  }
}
