.main-nav__wrapper {
  display: none;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;

  width: 20px;
  height: 14px;

  .background("../img/icon-menu-open.svg"); 
  background-color: transparent;
  border: none;
}

.main-nav__list {
  .list-reset();
}

.main-nav__item {
  width: 100%;

  text-align: left;

  border-bottom: 1px solid @color-grey;
}
