.offer-list {
  display: none;
}

.offer-list a[href] {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .offer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    margin-right: 80px;
    margin-left: 50px;
    min-height: 60px;
    width: 851px;

    &__item {
      margin-right: 62px;
    }
  }

  .offer-list__item a {
    .font(15px, 24px);
    color: @color-black;
  }
}
