.page-title {
  position: relative;
  min-height: 177px;
  margin: 0;
  padding: 0 35px;
  padding-top: 70px;
  .font(27px, 30px);
  text-align: center;
  color: @color-black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-color: @color-white-middle;
  }

  &--color {
    background-color: @color-white-dark;

    &::before {
      background-color: @color-white-dark;
    }
  }

  &--index {
    min-height: 282px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-title {
    margin-top: -60px;
    padding: 0;
    padding-top: 95px;
    min-height: 224px;
    .font(43px, 50px);

    &--index {
      padding-top: 158px;
      min-height: 630px;
      width: 500px;
    }
  }

  .page-title--color {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -10vw;
      bottom: 0;
      height: 14px;
      width: 110vw;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    padding-top: 94px;
    min-height: 252px;
    .font(53px, 57px);

    &--index {
      padding-top: 157px;
      min-height: 627px;
      width: 630px;
    }
  }
}
