.page-title {
  min-height: 177px;
  margin: 0;
  padding: 0 35px;
  padding-top: 70px;
  .font(27px, 30px);
  text-align: center;
  color: @color-black;

  &--color {
    background-color: @color-white-dark;
  }

  &--index {
    min-height: 282px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .page-title {
    margin-top: -63px;
    padding: 0;
    padding-top: 95px;
    min-height: 223px;
    .font(43px, 50px);

    &--index {
      padding-top: 153px;
      min-height: 642px;
      width: 500px;
    }
  }
}

@media (min-width: 1150px) {
  .page-title {
    padding-top: 94px;
    min-height: 250px;
    .font(53px, 57px);

    &--index {
      padding-top: 153px;
      min-height: 626px;
      width: 630px;
    }
  }
}
