.phone {
  margin-bottom: 34px;
  position: relative;
}

.phone__title {
  margin-bottom: 9px;

  &::after {
    left: 62px;
  }
}

.phone__label {
  content: "";
  position: absolute;
  bottom: 11px;
  right: 8px;

  & svg {
    width: 25px;
    height: 24px;
    opacity: 0.2;
  }
}

.phone__input:hover + .phone__label svg {
  fill: @color-green;
  opacity: 1;
}

.phone__input:focus + .phone__label svg {
  fill: @color-green-alternative;
  opacity: 1;
}

.phone__input {
  padding: 0;
  padding-top: 17px;
  padding-bottom: 13px;
  width: 100%;
  .font(19px, 18px);
  font-weight: 400;
  color: @color-text;
  border: none;
  box-shadow: 0 2px 0 0 @color-black;

  &:placeholder {
    .font(19px, 18px);
    font-weight: 400;
    color: rgba(@color-text, 0.3);
  }

  &:placeholder:hover {
    box-shadow: 0 2px 0 0 @color-green;
  }

  &:placeholder:focus {
    box-shadow: 0 2px 0 0 @color-green-alternative;
  }
}
