.popular {
  margin-top: 14px;
  margin-bottom: 70px;
}

.popular__wrapper {
  width: 260px;
  margin: 0 auto;
}

.popular__title {
  margin: 0;
  .font(25px, 30px);
  color: @color-black;
}

.popular__new {
  margin: 0;
  margin-top: 5px;
  .font(17px, 20px);
  color: @color-green;
}

.popular__text {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 16px;
  .font(15px, 24px);
  font-weight: 400;
  color: @color-text;
}

.popular__table {
  margin-top: 22px;
  margin-bottom: 30px;
}

.table {
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  .font(15px, 20px);
  font-weight: 400;
  color: @color-text;
  border-collapse: collapse;
}

.table__item {
  height: 40px;
  border-bottom: 1px solid @color-grey;
}

.table__field {
  width: 97px;
}

.popular__image {
  margin-bottom: 21px;
}

.popular__price {
  margin: 0;
  margin-bottom: 25px;
  .font(17px, 24px);
  text-align: center;
  color: @color-text;
}

.popular__order {
  width: 100%;
}