.reviews {
  margin-top: 30px;
  margin-bottom: 45px;
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  margin-bottom: 35px;
  
  .font(25px, 30px, 700, normal);
  color: #000000;
}

.reviews__list {
  margin-bottom: 40px;
}

.reviews__item {
  margin-bottom: 35px;
}

.reviews__text {
  .font(15px, 30px, 400, normal);
  color: #444444;
}

.reviews__author-name {
  .font(17px, 24px, 700, normal);
  color: #000000;
}

.reviews__author-link {
  .font(17px, 20px, 400, normal);
  color: #444444;
}

.reviews__vav {
  
}

.reviews__btn {
  min-height: 52px;
  border: 1px solid #ececec;
  background-position: 0 50%;
}

.reviews__prev {
  .background("../img/icon-left-arrow.svg");
}

.reviews__next {
  .background("../img/icon-right-arrow.svg");
}
