.video {
  margin-top: 30px;
  margin-bottom: 45px;
}

.video__wrapper {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 260px;
  border: 1px solid #ececec;
}

.video__title {
  position: relative;
  padding-left: 110px;
  .font(17px, 24px, 700, normal);
  color: #000000;
  
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 30px;
    height: 32px;
    width: 32px;
    .background("../img/icon-video.svg");
  }
}

.video__play {
  margin-bottom: 35px;
  height: 150px;
  width: 260px;
}

.video__text {
  margin: 30px 0;
  padding: 0 35px;
  .font(13px, 24px, 400, normal);
  color: #444444;
}

.video__order {
  width: 190px;
}