.video {
  margin-top: 30px;
  margin-bottom: 58px;
}

.video__wrapper {
  margin: 0 auto;
  padding-bottom: 32px;
  width: 260px;
  border: 1px solid @color-grey;
}

.video__title {
  position: relative;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 24px;
  padding-left: 89px;
  .font(17px, 24px);
  color: @color-black;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 33px;
    height: 32px;
    width: 32px;
    .background("../img/icon-video.svg");
  }
}

.video__production {
  position: relative;
  margin-bottom: 24px;
}

.video__img {
  margin: 0 auto;
  height: 150px;
  width: 260px;
}

.video__play {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 38px);
  width: 101px;
  height: 77px;
  .background ("../img/icon-play.svg");
  background-position: 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.video__text {
  margin-top: 24px;
  margin-bottom: 25px;
  padding: 0 33px;
  .font(13px, 24px);
  font-weight: 400;
  color: @color-text;
}

.video__order {
  width: 192px;
}

@media (min-width: @tablet-width) {
  .video__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 45px;
    width: 668px;
  }

  .video__production {
    order: -1;
  }

  .video__img {
    content: url("../img/video-tablet@1x.jpg");
    width: 668px;
    height: 455px;
  }

  .video__title {
    margin-top: 4px;
    padding-left: 106px;
    .font(20px, 24px);

    &::after {
      top: -5px;
      left: 41px;
    }
  }

  .video__text {
    margin-top: 7px;
    margin-bottom: 36px;
    padding: 0 40px;
    .font(15px, 30px);
  }

  .video__order {
    margin-left: 41px;
    width: calc(100% - 82px);
  }
}

@media (min-width: @desktop-width) {
  .video__wrapper {
    padding-bottom: 45px;
    width: 1050px;
    height: 455px;
  }

  .video__production {
    order: -1;
    width: 682px;
  }

  .video__img {
    content: url("../img/video-desktop@1x.jpg");
    width: 682px;
    height: 453px;
  }

  .video__title {
    padding-top: 91px;
    padding-left: 77px;
    padding-right: 35px;
    width: 350px;

    &::after {
      top: 37px;
      left: 79px;
    }
  }

  .video__text {
    margin-bottom: 48px;
    padding-left: 77px;
    width: 350px;
  }

  .video__order {
    width: 230px;
  }
}
