.page-main {
  /*width: 320px;
  margin: 0 auto;*/
}

.page-main__wrapper-background {
  min-height: 285px;
  background-color: @color-white-middle;
  .background("../img/hero-mobile@1x.jpg");
  background-position: 50% 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.popular {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -41px;
    height: 7px;
    width: 100%;
    .background("../img/bg-zigzag-line.svg");
    background-size: cover;
  }
}

.reviews {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 7px;
    width: 100%;
    .background("../img/bg-zigzag-line.svg");
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  /*.page-main {
    width: 768px;
  }*/

  .page-main__wrapper-background {
    position: relative;
    min-height: 744px;
    margin-top: -63px;
    background-image: url("../img/hero-tablet@1x.jpg");

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      background-color: @color-white-middle;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 772px auto;
    }
  }

  .popular::before {
    bottom: -50px;
    height: 16px;
  }

  .reviews::before {
    bottom: -84px;
    height: 16px;
  }
}

@media (min-width: @desktop-width) {
  /*.page-main {
    width: 1150px;
  }*/

  .page-main__wrapper-background {
    min-height: 746px;
    margin-top: -60px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .popular::before {
    bottom: -92px;
    height: 21px;
    left: 50px;
    width: calc(100% - 100px);
    background-repeat: repeat;
    background-position-x: -27px;
  }

  .reviews::before {
    bottom: -88px;
    height: 21px;
    left: 50px;
    width: calc(100% - 100px);
    background-repeat: repeat;
    background-position-x: -25px;
  }
}
