@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@font-text: "Open-sans", "Arial", sans-serif;

@color-white: #ffffff;
@color-white-dark: #f1f1f1;
@color-white-middle: #f9f9f9;
@color-black: #000000;
@color-text: #444444;
@color-grey: #ececec;
@color-green: #63d1bb;
@color-green-hover: #59d5bc;
@color-green-alternative: #56c3b2;
@color-green-alternative-hover: #46c1ae;
@color-green-input-active: #62d1ba;


.font (@size, @line) {
  font-size: @size;
  line-height: @line;
}

.background (@dir) {
  background-image: url(@dir);
  background-repeat: no-repeat;
}

.list-reset () {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*body {
  background: url("../pixel/mishka-index-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
}*/
/*body > * {
  outline: 2px solid rgba(0, 0 , 150, 0.4);
}

body > * > * {
  outline: 2px solid rgba(0, 0 , 255, 0.4);
}

body > * > * > * {
  outline: 2px solid rgba(0, 150 , 255, 0.4);
}

body > * > * > * > * {
  outline: 2px solid rgba(0, 255 , 255, 0.4);
}

body > * > * > * > * > * {
  outline: 2px solid rgba(150, 255 , 255, 0.4);
}

body > * > * > * > * > * > * {
  outline: 2px solid red;
}

body > * > * > * > * > * > * > * {
  outline: 2px solid rgba(0, 150 , 255, 0.4);
}*/
/*@media (min-width: @tablet-width) {
  body {
    background: url("../pixel/mishka-index-tablet.jpg") no-repeat 50% 0;
    background-size: 768px auto;
  }
}

@media (min-width: @desktop-width) {
  body {
    background: url("../pixel/mishka-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1150px auto;
  }
}*/
